body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Carter One", cursive;
  font-size: 30px;
}

header {
  font-size: 40px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
  gap: 30px;
}

.vs {
  align-self: stretch;
}

.players {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.gridContainer {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid rgb(141, 141, 141);
  border-radius: 6px;
}

input {
  width: 200px;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Carter One", cursive;
  padding-left: 10px;
}

.gradient {
  background-color: #d8138d;
  background-image: linear-gradient(45deg, #c50e9d, #24040d);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.no-click {
  pointer-events: none;
}

.gridBtn {
  font-size: 60px;
}

button {
  font-family: "Carter One", cursive;
  font-size: 20px;
}

footer {
  padding-bottom: 40px;
}
