body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 29px 0px 29px 0px;
  gap: 30px;
}

.players {
  display: flex;
  justify-content: space-around;
  align-self: stretch;
}

.gridContainer {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

input {
  width: 200px;
  border-radius: 5px;
}

.no-click {
  pointer-events: none;
}

.gridBtn {
  font-size: 60px;
  border-radius: 6px;
}
