body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridContainer {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.gridBtn {
  font-size: 60px;
}
